version: 2
jobs:
  build:
    docker:
      - image: francoischabot/easy_grpc_buildenv:latest

    steps:
      - checkout

      - run:
          name: Create build script
          command: |
            mkdir _bld 
            cd _bld 
            cmake -DCMAKE_BUILD_TYPE=Debug -DCOVERAGE=1 ..

      - run:
          name: Build
          command: |
            cd _bld 
            make -j $(nproc)

      - run:
          name: Test
          command: |
            cd _bld 
            ctest -j $(nproc) -T memcheck

      - run:
          name: Coverage
          command: |
            cd _bld
            make test_coverage
            bash <(curl -s https://codecov.io/bash) -f test_coverage.info || echo "Codecov did not collect coverage reports"